*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #fff;
    background-color: #eee;
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.container{
    max-width: 980px;
    min-width: 480px;
    margin: 0 auto;
    padding: 0 20px;
}

.header__line{
    background-color: #fff;
    max-height: 45px;
    box-shadow: 350px 7px 10px -10px rgba(0,0,0,0.75);
    width: 100%;
}


.header__logo{
    background-color: #969696;
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 305px;
    width: 100%;
    min-height: 105px;
    height: 100%;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 36px;
    font-weight: 700;
    border: 15px solid #eee;
    margin-top: -18px;
    overflow: hidden;
}

.header__logo-ellipse{
    max-width: 250px;
    width: 100%;
    min-height: 70px;
    height: 100%;
    border: 1px solid #a5a4a5;
    border-radius: 50%;
    position: absolute;
    right: 7%;
}

.header__lang{
    background-color: #fff;
    text-align: right;
}

.header__lang button{
    font-size: 12px;
    color: #5f5f5f;
    background-color: #f7f7f7;
    border: none;
    padding: 7px 10px;
    border-radius: 15%;
    margin-left: 5px;
    margin-top: 9px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.header__lang button:hover{
    background-color: #5f5f5f;
    color: #fff;
}

.header__inner-flex{
    display: flex;
    justify-content: space-between;
}

.header__features ul{
    list-style-image: url(../images/list-marker.png);
    display: flex;
    flex-wrap: wrap;
}

.header__features ul li{
    font-size: 12px;
    color: #333;
    text-transform: uppercase;
    max-width: 165px;
    width: 100%;
    margin-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    transition: 0.3s all ease;
}

.header__features ul li:hover{
    color: #5a9bab
}

.menu{
    margin-top: 110px;
}

.burger__bars,
.burger__bars::before,
.burger__bars::after{
    position: absolute;
    height: 2px;
    background-color: #fff;
    width: 20px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    display: none;
}

.burger__bars::before{
    content: '';
    top: 7px;
    left: 0;
}

.burger__bars::after{
    content: '';
    top: -5px;
    left: 0;
}

.burger__title{
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 60px;
    text-transform: uppercase;
    font-size: 16px;
}

.menu__items{
    display: block;
}

.menu__inner nav .menu__list{
    display: flex;
    padding-left: 0;
    border-bottom: 3px solid #fff;
}

.menu__inner .menu__list .menu__list-item{
    list-style: none;
    background-color: #616161;
    padding: 17px 22px;
    text-transform: uppercase;
    border-left: 1px solid #4e4853;
    border-right: 1px solid #919191;
    cursor: pointer;
    transition: 0.3s all ease;
    position: relative;
}

.menu__inner .menu__list .menu__list-item:hover{
    background-color: #a9a9a9;
    border-left: 1px solid #a9a9a9;
    border-right: 1px solid #a9a9a9;
}

.menu__inner .menu__list .menu__list-item:last-child{
    padding: 17px 24.3px;
}

.menu__list-item .submenu{
    display: none;
    position: absolute;
    color: #000;
    background-color: #fff;
    z-index: 2;
    width: 305px;
    background-color: #932388;
}

.menu__list-item .submenu1{
    left: -1px;
    top: 100%;
}

.menu__list-item .submenu2{
    left: -1px;
    top: 100%;
}

.menu__list-item .submenu3{
    left: -2%;
    top: 100%;
}

.menu__list-item .submenu4{
    right: -1px;
    top: 100%;
}

.menu__list-item .submenu5{
    right: -1px;
    top: 100%;
}

.menu__list-item .submenu ul{
    list-style: none;
    text-transform: none;
    padding-left: 0;
}

.menu__list-item .submenu ul li{
    font-size: 13px;
    font-family: Arial, sans-serif;
    color: #fff;
    padding: 10px 0;
    padding: 0 20px;
}

.menu__list-item .submenu ul li:hover{
    background-color: #572786;
}

.menu__list-item .submenu .submenu__item{
    max-width: 268px;
    border-bottom: 1px solid #741468;
    border-top: 1px solid #b232a8;
    padding-top: 10px;
    padding-bottom: 10px;
}

.menu__list-item .submenu .submenu__item1{
    border-top: none;
}

.menu__list-item .submenu .submenu__item2{
    border-bottom: none;
}

.form{
    margin-bottom: 30px;
}
.form__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__title{
    font-size: 24px;
    margin-bottom: 12px;
    color: #343434;
}

.form__inner label{
    color: #343434;
    font-size: 14px;
    display: block;
}

.form__wrapper{
    padding: 17px 35px 17px 20px;
    background-color: #ccc;
    border-radius: 5px;
}

.form__main{
    max-width: 280px;
    width: 100%;
    margin-right: 20px;
}

.form__main input{
    width: 100%;
    border: 2px solid #6f6f6f;
    margin: 10px 0;
    font-size: 16px;
}

.form__box input, label{
    width: 100%;
    margin-right: 0;
}

.form__box{
    display: flex;
}

.form__second-column{
    margin-left: 5%;
}

.form__main .form__submit{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 61px;
    border: none;
    background-color: #006c86;
    border-radius: 5px;
    max-width: 175px;
    cursor: pointer;
}

.form__text{
    max-width: 300px;
    width: 100%;
    background: linear-gradient(to bottom, #f9f9f9 0%,#ededed 100%);
    border-radius: 5px;
    padding: 25px 20px;
}

.form__text p{
    color: #333;
    font-size: 14px;
    font-family: Arial, sans-serif;
    line-height: 20px;
    margin-bottom: 20px;
}

.form__text .form__text-bold{
    font-weight: 700;
}

.form__text-btn{
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    padding: 12px 61px;
    border: none;
    background-color: #006c86;
    border-radius: 5px;
    cursor: pointer;
}

.test{
    text-align: center;
}

.blocks{
    margin-bottom: 30px;
}

.blocks__inner{
    display: flex;
    justify-content: space-between;
}

.blocks__block1,
.blocks__block2,
.blocks__block3{
    max-width: 300px;
    border-radius: 5px;
    overflow: hidden;
}

.blocks__block1,
.blocks__block2{
    margin-right: 20px;
}

.blocks__img{
    min-height: 170px;
    background-color: #969696;
}

.blocks__content{
    padding: 17px;
    background-color: #fff;
}

.blocks__content-title{
    color: #000;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
}

.blocks__content-text{
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: #333;
}

.groups{
    margin-bottom: 42px;
}

.groups__inner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.groups__item{
    max-width: 140px;
    width: 100%;
    min-height: 100px;
    background-color: #6f6f6f;
    margin-bottom: 20px;
    margin-right: 5px;
}

.groups__item:nth-child(6),
.groups__item:last-child{
    margin-right: 0;
}

.footer{
    margin-bottom: 168px;
}

.footer__inner{
    background-color: #727272;
    padding: 27px 20px 9px;
}

.footer__top,
.footer__mid,
.footer__bot{
    display: flex;
    justify-content: space-between;
}

.footer__top{
    border-top: 1px solid #828282;
}

.footer__bot-line{
    border-bottom: 1px solid #626262;
}

.footer__wrapper{
    min-height: 58px;
    max-width: 280px;
    width: 100%;
    padding: 9px 0;
}

.footer__block{
    min-height: 40px;
    max-width: 280px;
    width: 100%;
}

.footer__mid .footer__wrapper:nth-child(2){
    max-width: 290px;
    padding: 9px 5px;
}

.footer__bot .footer__wrapper:nth-child(2){
    max-width: 290px;
    padding: 9px 5px;
}

.footer__top .footer__block{
    background-color: #fff;
}

.footer__mid .footer__block{
    background-color: #ccc;
}

.footer__bot .footer__block{
    background-color: #ccc;
}

.footer__mid .footer__wrapper{
    border-bottom: 1px solid #626262;
}

.footer__bot .footer__wrapper{
    border-top: 1px solid #828282;
}

